{:paths ["infra.aws/src"]
 :deps {infra.aws/example {:local/root "./example"}}
 :aliases
 {:test
  {:extra-paths ["infra.aws/test"]
   :main-opts   ["-m" "kaocha.runner"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-554"}}}}}
